/API.JS
/API.php
/app.js
/applications.html
/bitnami.css
/chatbot.js
/chatbot.php
/checklogin.php
/dashboard
/favicon.ico
/img
/node_modules
/package-lock.json
/package.json
/PHP
/Upload och welcome.php
/upload.php
/uploads
/uppgift5_login.php
/uppgift5_skript.php
/uppgift6_logout.php
/uppgift8_forms.php
/uppgift8_skript.php
/webalizer
/Webbweb
/xampp